@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

:root {
    --header-bg-color: rgb(245, 244, 244);
    --header-text-color: black;
    --body-bg-color: white;
    --body-text-color: black;
    --nav-bg-color: rgb(255, 49, 49);
    --nav-text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 60vh;
    
}

main section {
    padding: 32px 15%;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    transition: 0.25s;
    font-family: Arial, Helvetica, sans-serif;
}

body.dark {
    --body-bg-color: #444444;
    --body-text-color: white;
    --header-bg-color: #272727;
    --nav-bg-color: rgb(245, 244, 244);
    --nav-text-color:black;
    transition: 0.25s;
    --header-text-color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-areas:
        "logo h1 h1"
        "p nav nav";
    background-color: var(--header-bg-color);
    position: relative;
}

.logo {
    grid-area: logo;
    display: grid;
    place-content: center;
}

.titulo {
    grid-area: h1;
    display: flex;
    align-items: center;
    font-family: 'Dhurjati', sans-serif;
    font-size: 30px;
    color: var(--header-text-color);
}

nav {
    display: flex;
    align-items: center;
    grid-area: nav;
    background-color: var(--nav-bg-color);
    /* clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%); */
}
.select::after{
    content: "";
    width: 100%;
    display: block;
}

.poligon {
    grid-area: p;
    background-color: var(--header-bg-color);
    width: 100%;
    height: auto;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    margin-left: 30px;
}

.icon-tema {
    position: fixed;
    right: 15px;
    bottom: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: #1b1b1b;
    border-radius: 15px;
    box-shadow: 0 0 12px gray;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
    background-color: var(--nav-bg-color);
    font-weight: bold;
    padding: 16px 20px;
    display: block;
}


nav a::after{
    content: '';
    margin: auto;
    height: 2px;
    border-radius:2px;
    width: 0%;
    background-color: var(--nav-text-color);
    margin: auto;
    display: block;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
} 

nav li {
    list-style: none;
    position: relative;
}

.menu-horizontal {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-vertical {
    display: none;
    position: absolute;
    z-index: 1;
    background: #000;
}
.menu-horizontal li:hover .menu-vertical {
    display: block;
}



/* menu para cuando la pantalla sea pequeña */
.open-menu,
.close-menu {
    display: none;
}

@media screen and (max-width:760px) {
    .poligon {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .close-menu {
        display: block;
        cursor: pointer;
    }

    .open-menu {
        width: 40px;
        display: block;
        position: fixed;
        right: 20px;
        top: 60px;
        z-index: 2;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 2px gray;
        cursor: pointer;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 250px;
        z-index: 3;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        transition: 1s;
    }

    .menu-horizontal li:hover .menu-vertical {
        display: none;
    }

    .menu-horizontal {
        flex-direction: column;
    }

    nav.show {
        right: 0;
    }
}

@media screen and (max-width:600px) {
    .titulo {
        font-size: 20px;
    }
}

/*-------------------------------------------FOOTER--------------------------------------------------- */
footer {
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

/* Estilo para la parte inferior del pie de página */
.bottom-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #292A32;
}

/* Estilo para la parte superior del pie de página */
.top-footer {
    background-color: #292A32;
    display: flex;
    justify-content: center;
    padding: 0.625rem;
    gap: 3.125rem;
    border-bottom: 1px solid white;
}

/* Estilo para la lista de contacto dentro del pie de página */
.contacto ul li {
    padding: 0.313rem;
    display: flex;
    align-items: center;
    gap: 0.313rem;
}

/* Estilo para los enlaces de redes sociales en el pie de página */
.redes ul li a {
    display: flex;
    align-items: center;
}

/* Estilo para la lista de redes sociales en el pie de página (Eliminamos los marcadores de la lista) */
.redes ul {
    list-style: none;
}

/* Estilo para los 2 encabezados del top-footer */
.top-footer h3 {
    /* font-weight: bolder; */
    text-align: center;
    margin-bottom: 0.625rem;
    border-bottom: 1px dashed white;
}

/* Estilo para todos los enlaces en el pie de página (Les quitamos el subrayado y le cambiamos el color)*/
footer a {
    text-decoration: none;
    color: white;
}

/* Estilo para los enlaces en el pie de página cuando pasamos el cursor sobre ellos (se subrayan) */
footer a:hover {
    text-decoration: underline;
}

.copy-footer {
    display: flex;
    align-items: center;
}

@media screen and (max-width:550px) {
    .top-footer {
        flex-direction: column;
        align-items: center;
    }

    .contacto ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .bottom-footer {
        flex-direction: column;
        align-items: center;
    }

    .redes ul li a p {
        display: none;
    }

    .redes ul {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        padding: 0px;
    }
}

/* -----------------------------------------------INDEX.HTML---------------------------------------------------- */
.inicio-main {
    width: 100%;
    margin: 0 0 50px 0;
    overflow: hidden;
    position: relative;
}
.container-slider{
    overflow: hidden;
}
.slider {
    display: flex;
    width: 400%;
    max-height: 100%;
    height: 480px;
    animation: slide 16s infinite;
    overflow: hidden;
}

.slider img {
    width: 100%;
}

/* animaciones para el slider de la pagina principal */
@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-25%);
    }

    45% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    70% {
        transform: translateX(-50%);
    }

    75% {
        transform: translate(-75%);
    }

    95% {
        transform: translate(-75%);
    }
}

.aaa {
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 6px black;
}


/* --------------------------------------------------JORNADAS.HTML------------------------------------------------------ */
.container-jornadas{
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    height: 400px;
    margin: 20px auto;
    background-color: var(--header-bg-color);
    border-radius: 10px;
    box-shadow: 0 6px 12px gray;
}

.ul-jornadas{
    position: relative;
}
.jornada{
    position: absolute;
    list-style: none;
    width: 100%;
    opacity: 0;
    background-color: var(--header-bg-color);
    transition: 0.5s;
}


.ul-jornadas li:first-child{
    opacity: 1;
}


.jornada:target{
    opacity: 1;
}

.partido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.hora-partido{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.jornadas-btn{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    background-color: var(--header-bg-color);
    border-radius: 10px;
    box-shadow: 0 0px 12px gray;
    overflow: hidden;
}
.jornadas-btn a{
    text-decoration: none;
    color: var(--header-bg-color);
    padding: 10px 13px;
    background-color: var(--header-text-color);
    border-radius:35% ;
    position: relative;
}
.jornadas-btn .a1::before{
    content: "J1";
    position: absolute;
    background-color: var(--header-text-color);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 57% 79%, 50% 100%, 44% 79%, 0 80%);
    transition: 0.6s ease;
}
.jornadas-btn .a2::before{
    content: "J2";
    position: absolute;
    background-color: var(--header-text-color);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 57% 79%, 50% 100%, 44% 79%, 0 80%);
    transition: 0.6s ease;
}
.jornadas-btn .a3::before{
    content: "J3";
    position: absolute;
    background-color: var(--header-text-color);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 57% 79%, 50% 100%, 44% 79%, 0 80%);
    transition: 0.6s ease;
}
.jornadas-btn .a4::before{
    content: "J4";
    position: absolute;
    background-color: var(--header-text-color);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 57% 79%, 50% 100%, 44% 79%, 0 80%);
    transition: 0.6s ease;
}
.jornadas-btn .a5::before{
    content: "J5";
    position: absolute;
    background-color: var(--header-text-color);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 57% 79%, 50% 100%, 44% 79%, 0 80%);
    transition: 0.6s ease;
}
.jornadas-btn .a6::before{
    content: "J6";
    position: absolute;
    background-color: var(--header-text-color);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 57% 79%, 50% 100%, 44% 79%, 0 80%);
    transition: 0.6s ease;
}
.jornadas-btn .a7::before{
    content: "J7";
    position: absolute;
    background-color: var(--header-text-color);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 57% 79%, 50% 100%, 44% 79%, 0 80%);
    transition: 0.6s ease;
}
.jornadas-btn .a8::before{
    content: "J8";
    position: absolute;
    background-color: var(--header-text-color);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 57% 79%, 50% 100%, 44% 79%, 0 80%);
    transition: 0.6s ease;
}
.jornadas-btn .a9::before{
    content: "J9";
    position: absolute;
    background-color: var(--header-text-color);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 57% 79%, 50% 100%, 44% 79%, 0 80%);
    transition: 0.6s ease;
}
.jornadas-btn .a10::before{
    content: "J10";
    position: absolute;
    background-color: var(--header-text-color);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
clip-path: polygon(0% 0%, 100% 0%, 100% 79%, 57% 79%, 50% 100%, 44% 79%, 0 80%);
    transition: 0.6s ease;
}

.jornadas-btn a:hover::before{
    top: -20px;
}

@media screen and (max-width:530px){
    .jornadas-btn{
        justify-content: center;
        border-radius: 0px;
        box-shadow: 0 0 0;
        border: solid gray 0.5px;
    }
    .container-jornadas{
        border-radius: 0px;
        margin-bottom: 0px;
        box-shadow: 0 0 0px ;
        border: solid gray 0.5px;
    }
}
/*----------------------------------------------------NOTICIAS.HTML--------------------------------------------------*/

.container-noticias{
    display: grid;
    grid-template-areas: 
    ". n1 ."
    "n2 n1 n3"
    "n2 n4 n3"
    "n5 n4 n6"
    "n5 n7 n6"
    "n8 n7 n9"
    "n8 . n9"
    ;
    place-items: center;
    gap: 5px;
}
.noticia{
    background-color: gray;
    width: 100%;
    height: 400px;
}

.noticia1{grid-area: n1;}
.noticia2{grid-area: n2;}
.noticia3{grid-area: n3;}
.noticia4{grid-area: n4;}
.noticia5{grid-area: n5;}
.noticia6{grid-area: n6;}
.noticia7{grid-area: n7;}
.noticia8{grid-area: n8;}
.noticia9{grid-area: n9;}


/* --------------------------------------------REGISTRO.HTML------------------------------------------------- */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  30px auto;
    padding: 0;
}

.form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.form-inputs{
    width: 100%;
    padding: 0;
}

.form-inputs input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.submit{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.submit:hover{
    background-color: #ccd;
}
.toggle-pass{
    padding: 10px;
    display: flex; 
    gap: 5px;
}



#validacion{
    font-size: 15px;
    color: red;
    text-align: center;

}
/* --------------------------------------------REGISTRO.HTML------------------------------------------------- */
.container-equipos img{
    width: 100%;
}
.container-equipos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    place-items: center;
    gap: 20px;
}

.equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 6px gray;
    border-radius: 20px;
    text-decoration: underline;
    width: 100%;
    color: var(--body-text-color);
}
