:root{
    --header-bg-color: #1b1b1b;
    --header-text-color:white;
    --body-bg-color: rgb(211, 211, 211);
    --body-text-color:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    transition: 0.25s;
}
body.dark{
    --body-bg-color: #444444;
    --body-text-color:white; 
    transition: 0.25s;
}


header{
    background-color: var(--header-bg-color);
    align-items: center;
    overflow: hidden;
}


.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--header-text-color);
    transition: 0.25s;
    width: 70%;
    margin: auto;
}

.icon-tema{
    position: absolute;
    right: 15px;
    top: 30px;
    cursor: pointer;
}

nav a {
   text-decoration: none; 
   color: var(--header-text-color);
   font-weight: bold;
   background-color: var(--header-bg-color);
   padding: 10px 20px;
   display: block;
}
nav a:hover {
    transition: 0.25s;
    background-color: rgb(56, 56, 56);
}
nav li{
    list-style: none;
 }
.menu-horizontal{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}


.menu-vertical{
    display: none;
    position: absolute;
    z-index: 1;
}
/* ---------INDEX.HTML--------------- */
.inicio-main{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider{
    display: flex;
    width: 400%;
    height: 450px;
    animation: slide 16s infinite;
    overflow: hidden;
}
.slider img{
    width: 100%;
  
}
/* animaciones para el slider de la pagina principal */
@keyframes slide{
    0%{transform: translateX(0%);}
    20%{transform: translateX(0%);}

    25%{transform: translateX(-25%);}
    45%{transform: translateX(-25%);}

    50%{transform: translateX(-50%);}
    70%{transform: translateX(-50%);}

    75%{transform: translate(-75%);}
    95%{transform: translate(-75%);}
}
